html{
    background-color:bisque;
}




table{
    width:100%
    
}

th{
    
    background-color:black;
    border-radius: 15px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: yellowgreen;
}

h1{
    text-align: center;
}




